@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

audio::-webkit-media-controls-panel {
background: #fff;    
height:20px;
}

audio {
height:20px;
}

.scroll {
height:92vh;    
}

#top {   
opacity:0;
transform: scaleY(1);
transition: .3s ease-in-out;
margin-top:-63px;
}

#top:hover {
opacity:1;
transform: scaleY(1);
transition: .3s ease-in-out;
}

::-webkit-scrollbar {
width: 0;
}

.min-h-12 {
min-height:24rem
}
